*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.bar-1{
    height: 70px;
    background-color: black;
}

.bar-2{
    height: 80px;
    background-color: black;
}

img{
    width: 100%;
    background-size: cover;
}

.debug{
    background-color: aquamarine;
    border: solid 1px black;
}

.box-img{
 width: calc(100% / 6);
 height: 100px;
 

}

.center{
    height: calc(100vh - 150px );
    
    display: flex;
    flex-wrap: wrap;
}