*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 250px;
    height: 150px;
   
}
.griglia{
    background-color: gray;
    border-radius: 2px;
    padding:2px 3px ;
    height: 20px;
    margin: 6px 6px;
}

.arrow{
    background-color: gray;
    border-radius: 2px;
    margin: 6px 6px;
    height: 20px;
    padding: 2px 3px;

}

.bar-1{
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.bar-2{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.box-img{
    margin-bottom: 5px;
    margin-left: 2px;
    position: relative;

}

.center{
    height: calc(100vh - 150px );
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    overflow-y: auto;
}
 
.microphone{
    position: absolute;
    background-color: rgba(220, 220, 220, 0.387);
    bottom: 5px;
    left: 0px;
}
